@import '../../../share/variables';

.main{
    background-color: $color-primary;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
        .icon{
                display: flex;
                align-items: center;
                gap: 10px;
                a{
                    &:hover{
                        color: #f3f3f3;
                    }
                }
            img{
                height: 20px;
            }
    }
}