<!-- <div mat-dialog-title>
    <h1>Add Item</h1>
</div>

<form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Choose Brand</mat-label>
            <mat-select formControlName="brand">
            @for(item of sparkPlugsName; track item)
            { 
              <mat-option [value]="item">{{ item }}</mat-option>
            }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input matInput type="text" placeholder="Id" formControlName="id">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Price" formControlName="price">
          </mat-form-field>
  
      </div>

      <div class="row">

        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" placeholder="Quantity" formControlName="quantity">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
      
</div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="submit">Save</button>
      <button mat-raised-button type="button" (click)="close()">Cancel</button>
    </div>
</form> -->

<div class="main">
  addiasdtem
</div>