@import '../../../share/variables';

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  position: relative;
}

.product-container {
  height: 70vh;
  overflow: auto;
}

.search{
  position:fixed;
  left: 50px;
  top: 200px;
  input{
    border-radius: 10px;
    padding: 10px;
    width: 160px;
  }
}


