<div class="main">
    <div class="logo">
        <img src="/logoDrivex.svg" alt="logo" routerLink="/home">
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/products">Products</a>
            </li>
            <li>
                <a routerLink="/about">About</a>
            </li>
            <li>
                <a routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>
