@import '../../../share/variables';

.main {
    padding: 20px 100px;
    display: flex;
    justify-content:space-between;
    width: 100%;

    .logo{
        cursor: pointer;
        height: 50px;
        img{
            height: 100%;
        }
    }
    .links{
        ul {
            display: flex;
              gap: 50px;
              li{
                a{
                    color: $color-primary;
                    cursor: pointer;
                    padding-bottom: 5px;
                    &:hover{
                        color: $color-third;
                        border-bottom: 2px solid $color-third;
                      }
                  }
              }
    }
}
}