@import '../../../../../../app/share/variables';

main{
    text-align: center;
    button{
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin: 10px;
    }
}
a{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color:$color-primary;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}
