<div class="grid-container">
    <div class="box box1" (click)="openGridItem()">
      <h3>NGK</h3>
      <p>Describe</p>
    </div>
    <div class="box box2" (click)="openGridItem()">
      <h3>Denso</h3>
      <p>Describe</p>
    </div>
    <div class="box box3" (click)="openGridItem()">
      <h3>Motorcraft</h3>
      <p>Describe</p>
    </div>
    <div class="box box4" (click)="openGridItem()">
      <h3>Champion</h3>
      <p>Describe</p>
    </div>
    <div class="box box5" (click)="openGridItem()">
      <h3>ACDelco</h3>
      <p>Describe</p>
    </div>
</div>
